# gradle

.gradle/
build/
out/
classes/

# kotlin
.kotlin/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/*
# Remove the following line to remove server.properties from your project.
!server.properties

# No need to ship these
src/*/generated/resources